*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-image: url(./calculator.jpg);
    /* background-size: cover; */
}

.Main-container{
    width:100% ;
    height:100vh ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.claculator{

    background-color: #000000;
    border-radius: 30px;
    box-shadow: 5px 5px 15px black ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

  }
 
#top-display input{

    box-shadow: none;
    font-size: 2rem;
    padding:1rem;
    background-color: transparent;
    flex: 1;
    text-align: right;
    border:none;
    outline: none;
   
}
#top-display{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px ;
    }


  .button{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-template-rows:0fr 0fr 0fr 0fr;
    margin:1.5rem;

  }
  .button input{
      border: 0;
      outline: 0;
      height:60px ;
      width:70px ;
      border-radius: 20px;
      margin-top: 1rem;
      box-shadow:5px 5px 15px black ;
      background-color: #c2d4b1;
      font-size: 25px;
      margin: 10px;
      cursor: pointer;
      color:black;
}
#operator{
    background-color: orange;
}
@media screen and (max-width:430px) {
    .claculator{
    padding: 1rem ;
    width: 23rem;
    }
      .button input{
          height:50px ;
          width:60px ;
      }
      .button{
        margin-left: 1rem;
      }
      #top-display input{
        width:0rem ;
      }
}